section.section
	+container
		h1.title--h1.js--form-title
			| Оставьте заявку
	+container
		.form-layout
			._item
				include ../form/form
				include ../thanks/thanks
			._contacts
				include ../contacts/contacts
