//include ../../components/cookie/cookie

footer.footer
	+container()
		._wrapper
			include ../../components/logo/logo
			._privacy
				a.privacy-link.link.js--open-privacy(href="")
					| Политика обработки персональных данных
			._social
				include ../../components/social/social

