$widthDesktop: 13rem;
$widthTablet: 13rem;
$widthMobile: 10.5rem;


.logo {
	display: inline-block;
	width: auto;
	flex-shrink: 0;

	&__img {
		width: $widthDesktop;
		height: auto;

		@include tablet {
			width: $widthTablet;
		}

		@include mobile-hr {
			width: $widthMobile;

		}
	}
}
