.offer
	+container(class="offer__container")
		._inner
			h1.title--h1
				| Сериал Ведьмак
			._desc
				| Геральт из Ривии, наемный охотник за чудовищами, перенесший мутации, идет навстречу своей судьбе в неспокойном мире, где люди часто оказываются куда коварнее чудовищ.
			._button-wrapper
				+button("red", "l")
					| Смотреть сериал


