extends ../layouts/default

prepend vars

block content
	// header start
	include @sections/header/header
	// header end
	main.main
		include @sections/form-layout/form-layout

	include @sections/privacy/privacy
	// footer
	include @sections/footer/footer
		// end footer



