.thanks.js--thanks.is-hidden
	h1.title--h1
		| Заявка отправлена!
	._text.text
		| Мы получили вашу заявку. Наши специалисты свяжутся с вами в ближайшее время, чтобы уточнить все детали заказа.
	._button-wrapper
		+button('red', 'm', true)(href="/")
			| Вернуться на главную
