section.section
	+container()
		h2.title--h2._title
			| Магазины мерча ведьмака

	+container(class="map-conatiner")
		.map
			._wrapper.js--map-wrapper(style='background-image: url(img/map.png);')
				._container#map
				.loader.loader-default
