-
	var list = [
		{img: 'img/team/actor1.png', title: 'Геральт', name: 'Генри Кавилл', text: 'Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта, трубадур и бабник'},
		{img: 'img/team/actor3.png', title: 'Йеннифэр', name: 'Аня Чалотра', text: 'Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации.'},
		{img: 'img/team/actor4.png', title: 'Цири', name: 'Фрейя Аллан', text: 'Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта, трубадур и бабник'},
		{img: 'img/team/actor5.png', title: 'Эмгыр вар Эмрейс', name: 'Барт Эдвардс', text: 'Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта, трубадур и бабник'},
		{img: 'img/team/actor1.png', title: 'Геральт', name: 'Генри Кавилл', text: 'Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта, трубадур и бабник'},
		{img: 'img/team/actor2.png', title: 'Лютик', name: 'Джои Бэти', text: 'Один из центральных персонажей сериала, лучший друг и неизменный спутник Геральта, трубадур и бабник'}
	]



section.team-slider.section.section--padding-top--72
	+container
		._title
			h2.title--h2
				| Актерский состав
			._nav
				+sliderNav()(class="js--team-prev")
				+sliderNav(true)(class="js--team-next")
	+container
		._pagination-wrapper
			._pagination.js--team-pagination
	+container
		._slider.js--team-slider
			.swiper-wrapper
				each item in list
					.swiper-slide
						+teamCard(item.img, item.title, item.name, item.text)
