
.container-custom {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-width: 320px;


	@include desktop-xl {
		width: 1200px;
	}

	@include desktop {
		width: 1140px;
	}

	@include laptop {
		width: 960px;
	}

	@include tablet {
		width: 640px;
	}

	@include mobile-hr {
		width: 540px;
	}

	@include mobile {
		padding: 0 1.5rem;
		width: 100%;
	}

	@media (max-width: (340px)) {
		padding: 0 1rem;
	}
}
