.contacts
	._item
		._subtitle
			| Наша горячая линия
		._text.title--h2
			| 8 800 38 23 112
	._item
		._subtitle
			| Главный офис
		._text.title--h3
			| г. Москва, Садовническая ул., 80
	._item
		._subtitle
			| Часы работы
		._text.title--h3
			| Пн-Пт с 10:00 до 22:00
